.u-section-1 .u-sheet-1 {
  min-height: 819px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px 0 0;
}

.u-section-1 .u-video-1 {
  height: 648px;
  margin-top: 22px;
  margin-bottom: 55px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    margin-top: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 27px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-video-1 {
    height: 349px;
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -36px;
  }

  .u-section-1 .u-video-1 {
    height: 226px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 486px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 599px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  letter-spacing: normal;
  line-height: 1.6;
  font-size: 1.25rem;
  margin: 30px 599px 0 0;
}

.u-section-2 .u-text-3 {
  font-family: Poppins;
  line-height: 1.6;
  font-size: 1.25rem;
  margin: 30px 599px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 418px;
  height: 374px;
  margin: -250px -276px 0 auto;
}

.u-section-2 .u-list-1 {
  width: 485px;
  margin: -477px 46px 46px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 394px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 95px;
  height: 95px;
  background-image: none;
  box-shadow: -2px 0px 3px 0px rgba(128,128,128,0.2);
  margin: -1px auto 0 41px;
  padding: 19px;
}

.u-section-2 .u-text-4 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  line-height: 1.6;
  font-size: 1.25rem;
  font-weight: 400;
  margin: -78px 29px 0 183px;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 95px;
  height: 95px;
  background-image: none;
  box-shadow: -2px 0px 3px 0px rgba(128,128,128,0.2);
  margin: -1px auto 0 41px;
  padding: 19px;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  line-height: 1.6;
  font-size: 1.25rem;
  font-weight: 400;
  margin: -78px 29px 0 183px;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 95px;
  height: 95px;
  background-image: none;
  box-shadow: -2px 0px 3px 0px rgba(128,128,128,0.2);
  margin: -1px auto 0 41px;
  padding: 19px;
}

.u-section-2 .u-text-6 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  line-height: 1.6;
  font-size: 1.25rem;
  font-weight: 400;
  margin: -78px 29px 0 183px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 399px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 425px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 425px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -466px;
    margin-right: -38px;
    margin-bottom: 36px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 179px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 45px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 45px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 57px;
    margin-right: -167px;
  }

  .u-section-2 .u-list-1 {
    width: 604px;
    margin: -376px auto 32px 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 43px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 43px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-right: 25px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-right: 25px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 50px;
    margin-right: -140px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -369px;
    margin-bottom: 58px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 148px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 148px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 38px;
    margin-right: -271px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -382px;
    margin-bottom: 37px;
    margin-left: -18px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 338px;
  }

  .u-section-2 .u-icon-1 {
    width: 74px;
    height: 74px;
    margin-top: 15px;
    margin-left: 16px;
    padding: 14px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -51px;
    margin-right: -113px;
    margin-left: 113px;
  }

  .u-section-2 .u-icon-2 {
    width: 74px;
    height: 74px;
    margin-top: 15px;
    margin-left: 16px;
    padding: 14px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -51px;
    margin-right: -113px;
    margin-left: 113px;
  }

  .u-section-2 .u-icon-3 {
    width: 74px;
    height: 74px;
    margin-top: 15px;
    margin-left: 16px;
    padding: 14px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -51px;
    margin-right: -113px;
    margin-left: 113px;
  }
} .u-section-3 {
  min-height: 868px;
}

.u-section-3 .u-sheet-1 {
  min-height: 817px;
}

.u-section-3 .u-text-1 {
  margin: 33px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 60px;
}

.u-section-3 .u-image-1 {
  min-height: 605px;
  background-image: url("https://assets.nicepagecdn.com/901e8af1/4431509/images/luke-chesser-JKUTrJ4vK00-unsplash.jpg");
  background-position: 8.15% 58.86%;
  background-size: auto 125%;
}

.u-section-3 .u-container-layout-1 {
  padding: 19px 12px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 8px;
  padding: 8px 33px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 52px;
}

.u-section-3 .u-text-2 {
  margin: 37px 8px 0;
}

.u-section-3 .u-text-3 {
  margin: 30px 8px 0;
}

.u-section-3 .u-text-4 {
  margin: 94px 16px 0 0;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 16px auto 0 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 571px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 499px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 26px;
    margin-right: 420px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 382px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 677px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 10px;
    margin-left: 18px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
    margin-left: auto;
    padding: 9px 18px 11px 16px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 33px;
    margin-right: 376px;
    margin-left: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 573px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 37px;
    margin-right: 188px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 362px;
    margin-top: 26px;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-3 .u-image-1 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 15px;
    margin-right: 14px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 511px;
}

.u-section-4 .u-shape-1 {
  width: 476px;
  height: 416px;
  margin: -3px auto 0 -156px;
}

.u-section-4 .u-form-1 {
  height: 406px;
  margin: -368px 46px 0 481px;
}

.u-section-4 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-4 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-4 .u-btn-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-text-1 {
  margin: -361px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 0;
    margin-left: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -103px;
    margin-left: -198px;
  }

  .u-section-4 .u-form-1 {
    margin-top: -182px;
    margin-right: 42px;
    margin-left: 65px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -485px;
    margin-left: -40px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -61px;
    margin-left: -206px;
  }

  .u-section-4 .u-form-1 {
    margin-top: -221px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: -14px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -7px;
    margin-left: -238px;
  }

  .u-section-4 .u-form-1 {
    margin-top: -313px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: -465px;
    margin-left: -32px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 852px;
}

.u-section-5 .u-text-1 {
  margin: 36px auto 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -46px 35px 0 auto;
}

.u-section-5 .u-video-1 {
  height: 652px;
  margin-top: 22px;
  margin-bottom: 60px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-right: 0;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 26px;
    margin-right: auto;
    margin-left: 0;
    padding-right: 21px;
    padding-left: 19px;
  }

  .u-section-5 .u-video-1 {
    height: 386px;
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-5 .u-video-1 {
    height: 295px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-5 .u-video-1 {
    height: 206px;
  }
}